:root {
  --color-primario: #140001;
  --color-secundario: #efe2c0;
  --color-terciario: #a99477;
  --texto-sm: 1rem;
  --texto-md: 1.2rem;
  --texto-lg: 1.4rem;
  --texto-xl: 1.8rem;
  --texto-xxl: 2.4rem;
  --texto-xxxl: 3.2rem;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100dvh;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("assets/Background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main{
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

.main__title{ 
  width: max-content;
  margin: 24px;
  padding: 8px;
  font-size: 5.4rem;
  color: #8b7e6b;
  text-shadow: black;
  font-weight: bolder;
  background-color: var(--color-primario);
  border-radius: 8px;
}

.sections {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section__comandos{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  margin: 24px;
}

.comandos__botones{
  display: flex;
  flex-direction: column;
}

.botones{
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.comandos__botones span {
  font-size: var(--texto-md);
  border-radius: 8px;
  padding: 4px;
  width: max-content;
  background-color: var(--color-primario);
  color: white;
}

.botones .boton {
  border-radius: 4px;
  width: 320px;
  font-weight: bold;
  font-size: var(--texto-md);
  padding: 24px;
  transition: 0.3s ease-in;
}

.botones .boton:hover {
  filter: brightness(150%);
}

.boton__encriptar {
  color: var(--color-terciario);
  border: 3px solid var(--color-primario);
  background-color: var(--color-primario);
  box-shadow: 8px 8px 2px var(--color-terciario);
}

.boton__desencriptar {
  color: var(--color-primario);
  border: 3px solid var(--color-terciario);
  background-color: var(--color-terciario);
  box-shadow: 8px 8px 2px var(--color-primario);
}

.section__resultados{
  background-color: rgb(44, 128, 201);
}
